<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js" type="module"></script>
    <title>Node.js Basic Server</title>
  </head>
  <body class="bg-contact">
    <header>
      <nav>
        <ul class="nav-list">
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a class="active" href="/contact">contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>contact</h1>
      <img
        width="250"
        height="250"
        src="space-3.svg"
        alt="astronaut on the rocket [image by Ilhustrator 21, https://www.vecteezy.com/members/ilhustrator2021]"
      />
    </main>
    <footer>
      <p>
        <a
          href="https://github.com/mojotron/"
          target="_blank"
          rel="noreferrer noopener"
        >
          @Mojotron
        </a>
        <span></span>
      </p>
    </footer>
  </body>
</html>
