<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body class="bg-error">
    <div class="not-found">
      <h1>404 Not Found</h1>
      <h2>This is not page you are looking for!</h2>
      <a href="/">homepage</a>
      <img
        width="250"
        height="250"
        src="notFound.svg"
        alt="aliens kidnaping tree [https://www.vecteezy.com/members/109140768084105141344]"
      />
    </div>

    <footer>
      <p>
        <a
          href="https://github.com/mojotron/"
          target="_blank"
          rel="noreferrer noopener"
        >
          @Mojotron
        </a>
        <span></span>
      </p>
    </footer>
  </body>
</html>
