<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <script defer src="principles.js" type="module"></script>
    <title>Node.js Basic Server</title>
  </head>
  <body class="bg-home">
    <header class="header">
      <h2>Become undefeatable</h2>
      <h1>The Timeless Philosophy of Miyamoto Musashi</h1>
      <nav>
        <ul class="nav-list">
          <li><a href="/">quote</a></li>
          <li><a class="active" href="/principles.html">principles</a></li>
          <li><a href="/about.html">about</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="dokkodo">
        <h2>The Dokkodo</h2>
        <h3>Miyamoto Musashi's 21 Rules for Life</h3>
        <section class="container">
          <div class="container__image" id="image-container"></div>
          <ol class="dokkodo__list"></ol>
        </section>
      </section>
    </main>

    <footer>
      <p>
        <span>created by</span>
        <a
          href="https://github.com/mojotron/"
          target="_blank"
          rel="noreferrer noopener"
        >
          @Mojotron
        </a>
        <span></span>
      </p>
    </footer>
  </body>
</html>
